body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.container1 {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    flex: 7;
}
.container2 {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    flex: 1;
}

.container3 {
    display: flex;
    width: 100%;
    align-items: center;
}

.part {
    flex: 1;
    padding: 10px; /* Opcional: añade algo de espacio interno */
    align-items: center;
}

/* Encabezados */
h1 {
    color: #2c3e50;
    font-size: 24px;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Estilos de formulario */
.form2 {
    display: flex;
}

.form1 {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"], input[type="time"], select {
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="date"]{
    padding: 8px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #E8B728;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #E8B728;
}

/* Estilo para la tabla */
.table-wrapper {
    width: 100%;
    overflow-x: auto; 
    max-height: 150px; 
    overflow-y: auto;
}

table {
    width: 100%;
    margin-top: 20px;
    table-layout: fixed; /* Las columnas tendrán un ancho fijo */
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word; /* Permite que el texto se envuelva */
}

th {
    background-color: #E8B728;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}
/* Estilo para el mensaje de ganancias */
span {
    font-size: 16px;
    font-weight: bold;
    color: #27ae60;
}