<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herramienta de trabajo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container2">
        <h1>Registro de tareas</h1>
        <form action="/submit_form" method="POST" class="form1">
            <!-- Campo PROYECTO -->
            <label for="proyecto">Proyecto:</label><br>
            <select id="proyecto" name="proyecto" required>
                <option value="bee_multiverse">Bee Multiverse</option>
                <option value="bee_lieve">Bee lieve</option>
                <option value="bee_creative">Bee Creative</option>
                <option value="bee_babadabada">Bee Babadabada</option>
                <option value="bee_there">Bee there</option>
                <option value="bee_bop">Bee bop</option>
                <option value="bee_square">Bee Square</option>
                <option value="bee_knes_man">Bee Knes Man</option>
                <option value="bee_keepers">Bee Keepers</option>
                <option value="bee_safety">Bee Safety</option>
            </select><br><br>

            <!-- Campo TIPO -->
            <label for="tipo">Tipo:</label><br>
            <select id="tipo" name="tipo" required>
                <option value="reviewer_l1">Reviewer L1</option>
                <option value="reviewer_l10">Reviewer L10</option>
                <option value="attempter">Attempter</option>
            </select><br><br>

            <!-- Campo ID -->
            <label for="id">Task ID:</label><br>
            <input type="text" id="id" name="id" required><br><br>

            <!-- Campo INICIO -->
            <label for="inicio">Hora de Inicio:</label><br>
            <input type="time" id="inicio" name="inicio" required><br><br>

            <!-- Campo FIN -->
            <label for="fin">Hora de Fin:</label><br>
            <input type="time" id="fin" name="fin" required><br><br>

            <!-- Campo NOTAS -->
            <label for="notas">Notas:</label><br>
            <input type="text" id="notas" name="notas"><br><br>

            <!-- Botón de Enviar -->
            <input type="submit" value="Enviar">
        </form>
    </div>
    
    <div class="container1">
        <h1>Reporte de tareas</h1>
        <label for="date">Fecha de registro:</label>
        <form action="/index" method="POST" class="form2">
            <input type="date" id="date" name="date"/>
            <br>  <br>
            <input type="submit" value="Enviar">
            <br><br>
        </form>
        <table class="table-wrapper">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Proyecto</th>
                    <th>Tipo de tarea</th>
                    <th>Task ID</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fin</th>
                    <th>Duración</th>
                    <th>Status</th>
                    <th>Ganancias estimadas</th>
                    <th>Notas</th>
                </tr>
            </thead>
            <tbody id="report-table">
                <!-- Las filas de la tabla se cargarán aquí -->
                {% for record in records %}
                <tr>
                    <td>{{ record.createdAt }}</td>
                    <td>{{ record.project }}</td>
                    <td>{{ record.type }}</td>
                    <td>{{ record.taskId }}</td>
                    <td>{{ record.begin }}</td>
                    <td>{{ record.end }}</td>
                    <td>{{ record.elapsedTime }} min</td>
                    <td>{{ record.timeStatus }}</td>
                    <td>$ {{ record.earnings }}</td>
                    <td>{{ record.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       <p>Ganancias estimadas del día: ${{total}}</p> 
    </div>
</body>
</html>